<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Rezultatai</title>
    <link rel="stylesheet" type="text/css" href="/tex/style.css">
</head>
<body>

<div id="container">
    <div id="header">
        <center><h1>Pasirinkite tipsterį</h1></center>
        <div id="tipsters">
            <div id="tipster"><a href="/tex/tipster.php?author=Paulius"><img src="http://nimbo.lt/tex/image/paulius.png" /><br />Paulius</a></div>
            <div id="tipster"><a href="/tex/tipster.php?author=Thomas"><img src="http://nimbo.lt/tex/image/thomas.png" /><br />Thomas</a></div>
            <div id="tipster"><a href="/tex/tipster.php?author=Anglas"><img src="http://nimbo.lt/tex/image/anglas.png" /><br />Anglas</a></div>
        </div>
    </div>

    <div id="stats">

    </div>

    <div id="content">

        <table border="1">
            <tr>
                <th style='width:5px;'>Nr.</th>
                <th>Data</th>
                <th>Tipsteris</th>
                <th>Šaka</th>
                <th>Įvykis</th>
                <th>Pasirinkimas</th>
                <th>Koef</th>
                <th>Būsena</th>
            </tr>

        </table>


    </div>

    <div id="push"></div>

</div>

<div id="footer">
    <center>&copy; 2014 Martynas Stirbys</center>
</div>

</body>
</html>